<div class="container">
  <h1 class="d-hotwire-native-none my-4 pt-md-4">Edit <%= human_name.downcase %></h1>
</div>

<div class="container">
  <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>
